@using Alpha.Collector.Model;
@using Alpha.Collector.Web;
@model Query<AppLog, AppLogParams>
@{
    ViewBag.Title = "日志列表";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="portlet">
    <div class="panel panel-success">
        <div class="panel-heading">
            <div class="caption"><i class="icon-user"></i> 日志列表</div>
        </div>
    </div>
    @using (Html.PageView("List", "AppLog", "UserInfoForm", "UserInfoContainer", "List_Partial", Model))
    {
        <div class="panel panel-default">
            <div class="panel-heading ">
                <div class="form-inline">
                    <label>彩种：</label>
                    <select class="form-control input-small select2me" id="Params_LotteryCode" name="Params.LotteryCode" data-placeholder="全部">
                        <option value=""></option>
                        @foreach (var item in ViewBag.LotteryList as List<SelectListItem>)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <label>数据源：</label>
                    <select class="form-control input-small select2me" id="Params_DataSource" name="Params.DataSource" data-placeholder="全部">
                        <option value=""></option>
                        @foreach (var item in ViewBag.DataSourceList as List<SelectListItem>)
                        {
                            <option value="@item.Value">@item.Text</option>
                        }
                    </select>
                    <label>时间：</label>@Html.DayTimePickerFor(m => m.Params.StartTime, "开始时间", 2)-@Html.DayTimePickerFor(m => m.Params.EndTime, "结束时间", 2)
                </div>
            </div>
        </div>
        <div class="panel panel-default margin-bottom-5">
            <div class="panel-heading">
                <button type="submit" class="btn btn-circle btn-sm yellow"><i class="fa fa-search"></i> 查询</button>
                <button type="reset" id="userReset" class="btn btn-circle btn-sm blue"><i class="fa fa-undo"></i> 重置</button>
            </div>
        </div>
    }
</div>
<div id="DetailsDiv" class="modal fade-in-up"></div>
@section footer{
    <script type="text/javascript">
        $(function () {
            $("#showDetail").live("click", function () {
                var message = $(this).attr("itemName");
                App.LoadModal("#DetailsDiv", "/AppLog/AppLogDetail",
                    { message: message });
            });
        });
    </script>
}

